footer{
  align-items: center;
  background-image: linear-gradient(#e6e6e6,#fff);
  box-shadow: inset 0 5px 12px rgba(0,0,0,.3);
  display: flex !important;
  justify-content: center;
  position: sticky;
  height: 120px;
  padding: 0 144px;
  top: calc(100vh - 120px);
}
footer > p{
  color: #e7473c;
  font-size: 24px;
}
footer > p > strong {
  font-weight: 700;
}